.Select {
  border: rgba($black, 0.3) 1px solid;
  cursor: pointer;
  font-size: 11px;
  font-weight: 700;
  padding: 5px;
  min-width: 50px;
  border-radius: 4px;
  background-color: #fff;
  text-transform: uppercase;
}
